<li class="calendar-item">
	<%= link_to calendar do %>
		<%= calendar.date.strftime("%F") %> - 
		<%= calendar.time.strftime("%H:%M") %> - 
		<%= calendar.patient.name %>
	<% end %>
	<% if logged_in? && current_user?(calendar.patient.user) && calendar.booked? %>
	    <span style="padding-left: 1em">
	      <%= link_to calendar_path(calendar), method: :delete, data: {confirm: "Bạn chắc chắn muốn xóa?"} do %>
	        <em class="fa fa-trash"></em>
	      <% end %>
	    </span>
	<% end %>
 </li>